# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
**/.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Temporary exports / demos
*.mp4
!docs/**
